<mat-toolbar class="navbar">
  <div class="container navbar-container">
    <a routerLink="/" class="logo-link">
      <img src="assets/logo.png" alt="Aladin Barber Shop" class="logo-img">
    </a>

    <span class="spacer"></span>

    <div class="nav-links">
      <a mat-button routerLink="/" fragment="top">ACCUEIL</a>
      <a mat-button routerLink="/" fragment="services">SERVICES</a>
      <a mat-button routerLink="/" fragment="barbers">BARBIERS</a>
      <a mat-button routerLink="/my-appointments">MES RDV</a>
      <a mat-button routerLink="/" fragment="feedbacks">FEEDBACKS</a>
      <a mat-button routerLink="/" fragment="videos">VIDÉOS</a>
      <a mat-button routerLink="/" fragment="booking-section" class="book-btn">RÉSERVER</a>
    </div>
  </div>
</mat-toolbar>
